@page "/"

<PageTitle>Countries</PageTitle>

<MudToolBar WrapContent="true" Class="px-0 gap-2 mb-5">
    <MudTextField @bind-Value="_searchArg" Adornment="@Adornment.End" AdornmentIcon="@Icons.Material.Outlined.Search"
        Clearable="true" Label="Search for a country..." Variant="@Variant.Filled" Immediate="true"
        DebounceInterval="2000" FullWidth="false" 
        OnDebounceIntervalElapsed="@(async () => { await SearchByNameAsync(); })" />

    <MudSelect T="string" Variant="@Variant.Filled" Clearable="true" Label="Filter by region" Immediate="false"
        Value="@_filterRegion" FullWidth="false" FitContent="false" 
        ValueChanged="@(async (selectedRegion) => { _filterRegion = selectedRegion; await FilterByRegionAsync(); })">
        @foreach (var region in Domain.World.Regions)
        {
            <MudSelectItem Value="@region">@region</MudSelectItem>
        }
    </MudSelect>
</MudToolBar>

<MudGrid Spacing="6" Justify="@Justify.Center">
    @foreach (var country in _countries)
    {
        <MudItem xs="12" sm="6" md="4" lg="3">
            <MudCard Elevation="2" Class="country-card" @onclick="@(async () => { await NavigateToCountryAsync(country.Code); })">
                <MudCardMedia Image="@country.Flag.Svg" Height="200"
                    Style="@($"border-bottom: {Colors.Gray.Lighten1} solid thin;")" />
                <MudCardContent>
                    <MudText Typo="@Typo.h5">
                        @country.Name.Common
                    </MudText>
                    <MudText>
                        <div>
                            <span class="fw-800">Population:</span>
                            <span>@country.Population.ToString("N0")</span>
                        </div>
                        <div>
                            <span class="fw-800">Region:</span>
                            <span>@country.Region</span>
                        </div>
                        <div>
                            <span class="fw-800">Capital:</span>
                            <span>@String.Join(" | ", country.Capital)</span>
                        </div>
                    </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    }
</MudGrid>
